{% extends 'main/base.html' %}

{% block title %}Karibu{% endblock title %}

{% block content %}
{% comment %} <div class="px-6 py-6"> {% endcomment %}
<div>
    {% comment %} <h1>የኤፍ Njakai የገበያ ቦታ</h1> {% endcomment %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Newest items</h2>
    
        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
                <div>
                    <a href="{% url 'item_app:detail' item.id%}">
                        <div>
                            <img src="{{item.image.url}}" class="rounded-t-xl"/>
                        </div>
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{item.name}}</h2>
                            <p class="text-gray-500">KES  {{item.price}}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
            <h2 class="mb-12 text-2xl text-center">Categories</h2>
            <div class="grid grid-cols-3 gap-3">
                {% for category in categories %}
                    <div>
                        <a href="#">
                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{category.name}}</h2>
                                <p class="text-gray-500">{{category.items.count}} item(s)</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}




{% comment %} <!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>የኤፍ Njakai የገበያ ቦታ</title>
    </head>
    <body>
        <div class="px-6 py-6">
            <h1>Hello, world!</h1>
        </div>
     <body>
</html> {% endcomment %}