<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FNjakai's First Project in Django</title>
</head>
<body>
    <h1>FNjakai's Word Counter</h1>
    <!-- <h2>Hi, {{name}} from {{city}}</h2> -->
    <p>Input your text below</p>
    <!-- example: kana ka nikora kona kora kora nako kora kona kana ka nikora kora  -->
    <form action="counter" method="POST">
        <textarea name="text" id="" cols="90" rows="30"></textarea><br>
        <input type="submit"></input>
    </form>
</body>
</html>