.env
__pycache__/
__init__
dist/
eggs/
.eggs/
lib/
*lib/
lib64/
*lib64/
parts/
wheels/
bin/
*.egg
-info/
build/
develop-eggs/
.Python
.installed.cfg
pyvenv.cfg
*pyvenv.cfg
pip-log.txt
MANIFEST
.so
*.py[cod]
*$py.class
var/
sdist/
pip-wheel-metadata
share/python-wheels/
